In [2]:
import pandas as pd

In [4]:
data1 = pd.read_csv(r"C:\Users\HP\Favorites\Downloads\KaggleV2-May-2016.csv\KaggleV2-May-2016.csv")

In [6]:
data1.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [8]:
data1.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [25]:
# Optionally fill or drop missing values
data1.fillna("unknown", inplace=True)

In [16]:
duplicates = data1[data1.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

In [29]:
data1.drop_duplicates(inplace=True)

In [31]:
# 3. Standardize text values (Example: Gender and Neighbourhood if present)
if 'Gender' in data1.columns:
    data1['Gender'] = data1['Gender'].str.lower().map({
        'male': 'male', 'm': 'male',
        'female': 'female', 'f': 'female'
    })

if 'Neighbourhood' in data1.columns:
    data1['Neighbourhood'] = data1['Neighbourhood'].str.lower().str.strip()

In [34]:
# 4. Convert date formats (for columns like 'AppointmentDay', 'ScheduledDay')
for col in ['ScheduledDay', 'AppointmentDay']:
    if col in data1.columns:
        data1[col] = pd.to_datetime(data1[col], errors='coerce')

In [36]:
# 5. Rename column headers to be clean and uniform
data1.columns = data1.columns.str.lower().str.replace(' ', '_')

In [38]:
# 6. Check and fix data types (e.g., age as int)
if 'age' in data1.columns:
    data1['age'] = pd.to_numeric(data1['age'], errors='coerce').fillna(0).astype(int)

In [42]:
print(data1.dtypes)
print(data1.head())

patientid                     float64
appointmentid                   int64
gender                         object
scheduledday      datetime64[ns, UTC]
appointmentday    datetime64[ns, UTC]
age                             int32
neighbourhood                  object
scholarship                     int64
hipertension                    int64
diabetes                        int64
alcoholism                      int64
handcap                         int64
sms_received                    int64
no-show                        object
dtype: object
      patientid  appointmentid gender              scheduledday  \
0  2.987250e+13        5642903    NaN 2016-04-29 18:38:08+00:00
1  5.589978e+14        5642503    NaN 2016-04-29 16:08:27+00:00
2  4.262962e+12        5642549    NaN 2016-04-29 16:19:04+00:00
3  8.679512e+11        5642828    NaN 2016-04-29 17:29:31+00:00
4  8.841186e+12        5642494    NaN 2016-04-29 16:07:23+00:00

             appointmentday  age      neighbourhood  scholarship  \
0 2016-04-29 00:00:00+00:00   62    jardim da penha            0
1 2016-04-29 00:00:00+00:00   56    jardim da penha            0
2 2016-04-29 00:00:00+00:00   62      mata da praia            0
3 2016-04-29 00:00:00+00:00    8  pontal de camburi            0
4 2016-04-29 00:00:00+00:00   56    jardim da penha            0

   hipertension  diabetes  alcoholism  handcap  sms_received no-show
0             1         0           0        0             0      No
1             0         0           0        0             0      No
2             0         0           0        0             0      No
3             0         0           0        0             0      No
4             1         1           0        0             0      No